body{
	padding: 0;
	margin: 0;
	background-color: #6495ED;
}
header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;

}
.minha-imagen{
	width: 20%;
	border-radius: 100%; 
}
h2{
	font size: 100%;
	text-align: center;
   
}
p{
	text-align: center;
}
footer{
	background-color: #000;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 12%;
}
ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
li{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.icone{
	width: 30%;
	border-radius:15% 
	}
